<div class="container" style="width:100%; margin: 0 auto; min-height: 40px; ">
    <div class="panel panel-default" style="background-color: black; border: none;">
        <div class="panel-body" style="padding: 10px 0;">
            <ul class="nav nav-pills" style="display: flex; justify-content: center; margin: 0;">
                <li role="presentation" style="margin-right: 15px;"><a href="/typeOfQues" style="color: white;">Type Of Ques</a></li>
                <li role="presentation" style="margin-right: 15px;"><a href="/difficulty" style="color: white;">Difficulty</a></li>
                <li role="presentation"><a href="/company" style="color: white;">Company</a></li>
            </ul>
        </div>
    </div>
</div>
