<%- include("header") %>

<div class="container" style="margin-top: 20px;">
    <div class="text-center">
        <h1 style="font-weight: bolder;">Welcome to the Home Page</h1>
        <% if (msg) { %>
            <div class="alert alert-info">
                <%= msg %>
            </div>
        <% } %>
    </div>
</div>


</body>
</html>
